.navbar-login
{
    width: 100%;
display: flex;
justify-content: center;   
align-items: center;
}

#navigation{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.nav-links ul 
{
    list-style: none;
    cursor: pointer;
    margin: 4px 0;
}
.nav-links ul li{
    margin-right: 40px;
}
.navbar-login .link{
    text-decoration: none;
    font-size: 19px;
    color: rgb(78, 73, 73);
    font-family: sans-serif;
    padding: 6px;
    border-radius: 10px;
   
}
.nav-links ul .link:hover{
    background-color: #e22175;
}