* {
    margin: 0;
    padding: 0;
}

:root {
    ---background-color: rgb(131, 128, 128);
    ---color:gainsboro;
}

html {
    font-size: 16px;
}

/* Content */
.logout-header {
    background-image: url("../resources/bg_cover.jpg");
    background-position: left;
    background-size: cover;
   
}
.logout-header .link{
    text-decoration: none;
    font-size: 19px;
    color:gainsboro;
    font-family: sans-serif;
    padding: 6px;
    border-radius: 10px;
}

.navbar
{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links ul 
{
    list-style: none;
    cursor: pointer;
}
.nav-links ul li{
    margin-right: 70px;
    
}
.nav-links ul .link:hover,.fa-shopping-cart:hover{
    background-color: #e22175;
}

.fa-shopping-cart {
    margin-top: 5px;
    text-decoration: none;
    font-size: 19px;
    color: gainsboro;
    padding: 8px;
    border-radius: 50%;
}
.nav-links .cart-count-header{
    width:20px;
    height:20px;
    font-size: 0.8rem;
    font-weight: bolder;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: var(---color);;
    position: absolute;
    top:0;
    right:-10px;

}
.nav-links .right-header{
    position:relative;

}

/* Toast */

.toast-info {
    background: darkblue;
    color: #fff;
  font-size: 14px;
  }