
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    display: flex;
    flex-direction: column;
    height: 100vh;
	width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../resources//bg_cover.jpg");
	background-position: center;
	background-size: cover;
	
}
.banner-home{
    height:100vh;
    width: 100%;

}