*{
    margin:0;
    box-sizing: border-box;

}
.form-box-login
{
    width:380px;
	height:400px;
	position:relative;
	margin:10% auto;
	background:rgb(24, 23, 23);
    opacity: 0.5;
	padding:20px;
    border-radius: 10px;
}
.input-group-login
{
	
	width:100%;
}
.fa-user{
    width: 100%;
    padding:10px 0;
	margin:5px 0;
    font-size: 80px;
    color:gainsboro;

}
.input-group-login input{
    outline:none;
	background: transparent;
    width: 100%;
	padding:10px 5px;
	margin:15px 0;
    height: 40px;
    border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
    font-size: 18px;
	color: white;
}
.submit-btn
{
	width: 100%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 30px auto;
	background:gainsboro;
	border: 0;
	outline: none;
	border-radius: 20px;
    font-size: 18px;
}
.submit-btn:hover{
    background-color: #e22175;
}
