body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.order-container{
    overflow-x: auto;

}

.order-wrapper{
    position: relative;
    text-align: center;

}
.order-wrapper h5{
    padding: 20px;
    text-decoration: underline;
}
.order-container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
   
  }
  .order-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:black;
    font-size: 15px;
  }
  .order-container th {
    text-align:center;
    padding: 8px;
  }
  .order-container td{
    padding: 10px;
    border-bottom: 1px solid gray;
  }
.order-container img{
    width: 100px;
    height: 100px;
    margin: auto 20px;
    object-fit: contain;
}
.order-details{
  border-bottom: 1px solid gainsboro;
}
.order-details h5{
  font-size: 20px;
}

.order-details .link{
  text-decoration: none;
}
.order-details button{
  width: 100%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 30px auto;
	background:gainsboro;
	border: 0;
	outline: none;
	border-radius: 10px;
    font-size: 18px;
}
.order-details button:hover{
  background-color: #e22175;;
  transition: 0.5s ease-in-out;
}