body{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
.all-products{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-container{
    width:auto;
    height:auto;
    margin: 30px 10px;
}
.main-container{
    width:300px;
    height:250px;
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}
.main-container img{
    width:200px;
    height:170px;
    margin :auto 0;
    object-fit: contain;
}
.image-container{
    margin-top: 30px;
    background-color: white;
    width: 100%;
}
.main-container .product-name{
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color:rgb(15, 15, 15);
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.product-link{
    text-decoration: none;
}
.product-container:hover{
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(14, 13, 13, 0.25));
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(75, 73, 73, 0.3);
     border-radius: 5px;
    
}
