body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.before-shopping{
    position: relative;
    top:100px;
    width:100%;
    text-align: center;
}
.before-shopping h4{
    font-size: 18px;

}
.before-shopping p{
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.cart-body {
    width: 100%;
    height: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart-list {
    min-width: 50%;
    min-height: 250px;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.cart-list h3 {
    font-size: 18px;
}

.cart-list .header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding: 30px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #e6ebee33;
}

.action {
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.cart-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.cart-container img {
    width: 100px;
    height: 100px;
    margin: auto 20px;
    object-fit: contain;
}

.cart-items .title {
    font-size: 14px;
}

.cart-items .prices {
    margin-right: 20px;
}

.amount {
    font-size: 18px;
    font-weight: bolder;
}

.remove {
    color: red;
    font-size: 15px;
    cursor: pointer;
}

/* -----------------------------------CHECKOUT------------------------------------------------------ */

.checkout {
    width: 20%;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    padding: 30px;
    text-align: center;
}

.total, .total-amount {

    font-size: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.items, .shipping-charge {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
}

.checkout button {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #8fa0ec, #8EB7EB);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #202020;


}

.checkout button:hover {
    background: rgb(111, 221, 111);
    transition: ease-in 0.2s;
}




/* ----------------------------Media Screen--------------- */

@media only screen and (min-width: 320px) and (max-width: 850px){
    .cart-body{
        flex-direction: column;
    }  
    .cart-list{
        width: 70%;
    }
    .checkout{
        width:100%;
    }
    .cart-items{
        flex-direction: column;
    }
}