*{
    margin:0;
    box-sizing: border-box;

}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    box-sizing: border-box;
}
/* Toast */

.Toastify__toast--error {
    border: 1px solid #EB5757;
    font-size: 14px;
  }
  .Toastify__toast--success{
    border: 1px solid white;
    font-size: 14px;
  }
 
.form-box-register
{
    width:380px;
	height:auto;
	position:relative;
    /* top:100px; */
	background:black;
    opacity: 0.4;
	padding:20px;
    border-radius: 10px;
    margin: auto;
}
.input-group-register
{
	
	width:100%;
}
.input-group-register input{
    outline:none;
	background: transparent;
    width: 100%;
	padding:10px 5px;
	margin: 8px 0;
    height: 40px;
    border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
    font-size: 15px;
    color:white;
 
}
.submit-btn
{
	width: 100%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 30px auto;
	background:gainsboro;
	border: 0;
	outline: none;
	border-radius: 20px;
    font-size: 18px;
}
.submit-btn:hover{
    background-color: #e22175;
}
