body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    box-sizing: border-box;
}
/* Toast */

.Toastify__toast--error {
    border: 1px solid #EB5757;
    font-size: 14px;
  }
  .Toastify__toast--success{
    border: 1px solid white;
    font-size: 14px;
  }

  
  /* ------------------------------------- */

.signup-card h2 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
.signup-card {
    position: relative;
    top:150px;
    background-color: #fff;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.signup-card input {
    width: 100%;
    outline: none;
    height: 40px;
    border-radius: 4px;
    margin: 10px 0px;
}

.signup-card input[type="text"],.signup-card
input[type="email"],input[type="password"] {
    width: 100%;
    color: #8a8b8e;
    padding: 2px;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    position: relative;
    background: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3ca9e2;
}

.signup-card [type="text"]:focus:invalid,
input[type="email"]:focus:invalid,input[type="password"]:focus:invalid{
    color: #cc1e2b;
    border-color: #cc1e2b;
}

.signup-card input[type="submit"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.signup-card input[type="submit"]:hover {
    background-color: #329dd5;
    /* -webkit-transition: all 0.2s ease; */
    transition: all 0.2s ease;
}
.errors li{
    color:red;
    font-size: 15px;
    list-style: none;
    font-weight: bold;
    font-style: italic;
    margin: 5px 0;
}
.success{
    color:green;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}
